@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root {
    /* Theme 01 */

    /* Backgrounds */

    --Very-dark-desaturated-blue-main: hsl(222, 26%, 31%);
    --Very-dark-desaturated-blue-toogleKeypad: hsl(223, 31%, 20%);
    --Very-dark-desaturated-blue-screen: hsl(224, 36%, 15%);

    /* Keys */

    --Desaturated-dark-blue-key: hsl(225, 21%, 49%);
    --Desaturated-dark-blue-keyShadow: hsl(224, 28%, 35%);

    --Red-keyToogle: hsl(6, 63%, 50%);
    --Dark-red-keyShadow: hsl(6, 70%, 34%);

    --Light-grayish-orange-key: hsl(30, 25%, 89%);
    --Grayish-orange-keyShadow: hsl(28, 16%, 65%);

    /* Text */

    --Very-dark-grayish-blue: hsl(221, 14%, 31%);
    --White: hsl(0, 0, 100%);

    /*----------------------------------------------------------------------*/

    /* Theme 02 */

    /* Backgrounds */

    --Light-gray-main: hsl(0, 0%, 90%);
    --Grayish-red-toogleKeypad: hsl(0, 5%, 81%);
    --Very-light-gray-screen: hsl(0, 0%, 93%);

    /* Keys */

    --Dark-moderate-cyan-key: hsl(185, 42%, 37%);
    --Very-dark-cyan-key: hsl(185, 58%, 25%);

    --Orange-keyToogle: hsl(25, 98%, 40%);
    --Dark-orange-keyShadow: hsl(25, 99%, 27%);

    --Light-grayish-yellow-key: hsl(45, 7%, 89%);
    --Dark-grayish-orange-key: hsl(35, 11%, 61%);

    /* Text */

    --Very-dark-grayish-yellow: hsl(60, 10%, 19%);
    --White: hsl(0, 0, 100%);

    /*----------------------------------------------------------------------*/

    /* Theme 03 */

    /* Backgrounds */

    --Very-dark-violet-main: hsl(268, 75%, 9%);
    --Very-dark-violet-toogleKeyScreen: hsl(268, 71%, 12%);

    /* Keys */

    --Dark-violet-key: hsl(281, 89%, 26%);
    --Vivid-magenta-key: hsl(285, 91%, 52%);

    --Pure-cyan-keyToogle: hsl(176, 100%, 44%);
    --Soft-cyan-key: hsl(177, 92%, 70%);

    --Very-dark-violet-key: hsl(268, 47%, 21%);
    --Dark-magenta-key: hsl(290, 70%, 36%);

    /* Text */

    --Light-yellow: hsl(52, 100%, 62%);
    --Very-dark-blue: hsl(198, 20%, 13%);
    --White: hsl(0, 0, 100%);


    --Default-font: 'Spartan', sans-serif;
}